# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
/frontend/*.sw[mnpcod]
/frontend/.tmp
/frontend/*.tmp
/frontend/*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

/frontend/*.log
/frontend/log.txt


/frontend/.sourcemaps
/frontend/.versions

# Ionic
/frontend/.ionic
/frontend/www
/frontend/platforms
/frontend/plugins
/frontend/src/assets

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/e2e/test-output/
/frontend/bazel-out

# Node
/frontend/node_modules
/backend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/yarn.lock
/backend/public

# IDEs and editors
/frontend/.idea/
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-project
/frontend/*.sublime-workspace

# Visual Studio Code
/frontend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/frontend/.history/*


# Angular specific & Miscellaneous
/frontend/.angular
/frontend/.angular/cache
/frontend.sass-cache/
/frontend/.nx
/frontend/.nx/cache
/frontend/.angular-cli.json
/frontend/.ng/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# Environment files
/frontend/.env
/backend/.env


# TypeScript cache
/frontend/*.tsbuildinfo

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# System files
.DS_Store
Thumbs.db
