<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Autoescuela App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

	<div class="home-container">
		<h1>¡Bienvenido a tu autoescuela!</h1>
		<p>Practica test y prepárate para el examen</p>

		<ion-button class="btn-test" (click)="gotoTests()">
			Comenzar Test
		</ion-button>

		<ion-button class="btn-result">
			Ver Resultados
		</ion-button>

		<ion-card>
			<ion-card-title>Consejo del día</ion-card-title>
		<ion-card-header>
			<ion-card-content>
				Estudia las señales de tráfico
			</ion-card-content>
		</ion-card-header>
		</ion-card>
	</div>

</ion-content>
