<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button type="submit" color="warning" (click)="logout()">
    LOGOUT
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToHome()">
    HOME
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToTests()">
    TESTS
  </ion-button>
  
  <form [formGroup]="testForm">
    <ion-item lines="full">
      <ion-input type="number" name="id_test" formControlName="id_test" label="ID" label-placement="floating" readonly></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="text" name="nombre" formControlName="nombre" label="Nombre" label-placement="floating" placeholder="Enter text" required></ion-input>
      <ion-text *ngIf="testForm.get('nombre')?.touched && testForm.get('nombre')?.hasError('required')">
        obligatorio
      </ion-text>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="number" name="id_admin" formControlName="id_admin" label="id_admin" label-placement="floating" placeholder="Enter text" required></ion-input>
      <ion-text *ngIf="testForm.get('id_admin')?.touched && testForm.get('id_admin')?.hasError('required')">
        obligatorio
      </ion-text>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="testForm.invalid" (click)="create()" color="primary" expand="block">AÑADIR</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
