<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultados Tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button type="submit" color="warning" (click)="logout()">
    LOGOUT
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToHome()">
    HOME
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToAlumnos()">
    ALUMNOS
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToProfesors()">
    PROFESORES
  </ion-button>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-item color="secondary" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>TEST</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>ALUMNO</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>FECHA</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>NOTA</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item *ngFor="let it of resultados" color="light">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{it.id_test}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.id_alumno}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.fecha}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.nota}}</ion-label>
              </ion-col>

              <!-- <ion-button fill="clear" (click)="update(it)">
                <ion-icon name="create-outline"></ion-icon>
                Editar
              </ion-button>
              <ion-button color="danger" fill="clear" (click)="delete(it.id_test)">
                <ion-icon name="trash-outline"></ion-icon>
                Borrar
              </ion-button> -->
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>