<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administradores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button type="submit" color="warning" (click)="logout()">
    LOGOUT
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToHome()">
    HOME
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToAddAdministrador()">
    ADD ADMINISTRADOR
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToAlumnos()">
    ALUMNOS
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToProfesors()">
    PROFESORES
  </ion-button>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-item color="secondary" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>ID</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>NOMBRE</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>APELLIDOS</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>DNI</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>EMAIL</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>PASSWORD</ion-card-title>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list [inset]="true">
        <ion-item *ngFor="let it of usuarios" color="light">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{it.id_admin}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.nombre}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.apellidos}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.dni}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.email}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{it.password}}</ion-label>
              </ion-col>

              <ion-button fill="clear" (click)="update(it)">
                <ion-icon name="create-outline"></ion-icon>
                Editar
              </ion-button>
              <ion-button color="danger" fill="clear" (click)="delete(it)">
                <ion-icon name="trash-outline"></ion-icon>
                Borrar
              </ion-button>

            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
