<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Realizar Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button type="submit" color="warning" (click)="logout()">
    LOGOUT
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToHome()">
    HOME
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToTests()">
    TESTS
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToAlumnos()">
    ALUMNOS
  </ion-button>

  <ion-button type="submit" color="warning" (click)="goToProfesors()">
    PROFESORES
  </ion-button>

  <form *ngIf="testForm" [formGroup]="testForm" (ngSubmit)="create()">
    <div class="pregunta-card" *ngFor="let pregunta of preguntas">
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>{{ pregunta.enunciado }}</ion-card-title>
        </ion-card-header>

        <img *ngIf="pregunta.filename" src="http://localhost:8080/images/{{pregunta.filename}}" alt="image" width="200px">

        <ion-card-content>
          <ion-radio-group [formControlName]="pregunta.id_pregunta">
            <ion-item *ngFor="let opcion of pregunta.opciones" lines="none" class="opcion">
              <ion-radio slot="start" [value]="opcion"></ion-radio>
              <ion-label>{{ opcion }}</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-card-content>
      </ion-card>
    </div>

    <br />
    <ion-button type="submit" [disabled]="testForm.invalid" color="primary" expand="block">ENVIAR</ion-button>
  </form>
</ion-content>